/* Default styles */
.space {
  padding-top: 70px;
  padding-bottom: 70px;
}

.banner {
  background: url(../image/banner.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 800px;
}

.nav-item {
  padding: 10px;
}

@media (max-width: 767px) {
  .nav-item {
    padding: 0px;
  }
}

.logo-container {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .logo-container {
    display: block;
    align-items: center;
  }
}

.logo-container img {
  margin-right: 10px;
  margin-bottom: 20px;
}

.shadow-box {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.inner-border {
  border-style: dashed;
  border-color: #9f674f;
  padding: 32px;
  margin: -28px;
}

.inner-border i {
  color: #9f674f;
}

.above-img {
  position: absolute;
  bottom: 100px;
  left: 130px;
  width: 500px;
  height: 500px;
  z-index: 1;
}

.blog .carousel-item {
  height: 300px;
}

.blog .carousel-item img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.blog .carousel-indicators {
  left: 0;
  top: auto;
  bottom: -20px;
}

.blog .carousel-indicators li {
  background: #a3a3a3;
  border-radius: 100px;
}

.blog .carousel-indicators .active {
  background: #707070;
}

.img-size {
  width: 200px;
  height: auto;
  border: 2px solid #9f674f;
  border-radius: 151px;
  padding: 10px;
}

.product-image {
  background-color: rgb(248, 239, 234);
  width: 100%;
  height: 300px;
}

#line {
  border: 0;
  height: 8px;
  background-color: rgb(239, 216, 216);
  margin: 7px 0;
}

.best-sellers h2 {
  position: relative;
}

.best-sellers h2::after {
  content: "";
  position: absolute;
  top: 80%;
  width: 84%;
  height: 1px;
  background-color: #000;
  margin-top: -0.5px;
}

@media (max-width: 576px) {
  .best-sellers h2::after {
    width: 65%;
  }
}

.post-img {
  width: 100%;
  height: 300px;
}

#appointment {
  background: url(../image/woman.jpg) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.colored {
  color: #9f674f;
}

input[type="email"] {
  background-color: rgb(31, 38, 43);
  border: none;
  border-bottom: 2px solid #fff;
  padding-bottom: 6px;
}

@media (max-width: 767px) {
  input[type="email"] {
    width: 170px;
  }
}

@media (max-width: 600px) {
  input[type="email"] {
    width: 170px;
    padding-bottom: 6px;
  }
}

.image {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

.img-div {
  position: absolute;
  top: 32%;
  left: 5%;
  background-color: rgb(253, 231, 218);
  height: 309px;
  width: 547px;
  z-index: 0;
}

@media (max-width: 767px) {
  .img-div {
    display: none;
  }
}

.image-container {
  width: 100px;
  position: relative;
  margin-top: -90px;
}

.img-background {
  border-radius: 50%;
  background-color: #fff;
  height: 117px;
  width: 117px;
  padding: 9px;
}

@media (max-width: 767px) {
  .image-container {
    position: static;
    margin-top: 0;
    margin-bottom: 15px;
  }
}

.package-image {
  height: auto;
  width: 600px;
}

@media (max-width: 768px) {
  .package-image {
    width: 540px;
  }
}

@media (max-width: 576px) {
  .package-image {
    width: 354px;
  }
}

/* Service of Andfasion */
.fruit-image {
  position: absolute;
  height: auto;
  width: 200px;
  left: 561px;
  top: 66px;
  z-index: 1;
}

@media (max-width: 767px) {
  .fruit-image {
    display: none;
  }
}

.content-box1,
.content-box2 {
  background-image: linear-gradient(to right, white, rgb(253, 234, 223));
  border-radius: 110px;
  justify-content: center;
}

.content-box2 {
  background-image: linear-gradient(to left, white, rgb(253, 234, 223));
}

.logo-image {
  height: auto;
  width: 80px;
  margin-right: 10px;
}

.company-logo {
  height: auto;
  width: 120px;
}

.owl-image {
  height: 300px;
  width: 400px;
}

.logo-section {
  display: flex;
  align-items: center;
  border: 1px solid #9a563a;
}

@media (max-width: 800px) {
  .logo-section {
    display: block;
    padding-left: 71px;
  }
}

@media (min-width: 800px) {
  .image {
    width: 400px;
  }
}

.gradient {
  background-image: linear-gradient(to left, white, rgb(253, 235, 223));
}
